#kategori-container{
    /* background-color: brown; */
    overflow-x: auto;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}

.kategori-item{
    flex: 0 0 auto;
    margin: 10px 15px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* min-width: 140px; */
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.kategori-item i{
  position: absolute;
  font-size: 1.5em;
  left: 0;
  margin-left: 15px;
  color: rgba(0, 255, 157, 0.972);
}

.kategori-active{
  background-color: rgba(0, 255, 157, 0.972);
}

.kategori-item.kategori-active.kategori-active i{
  color: #fff;
}

.radio-title{
  display: block;
  margin-bottom: 5px;
}

.group-radio{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.custom-radio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.custom-radio label{
  text-align: center;
}

input[type="radio"]:not(old){
  display: block;
  width: 2em !important;
  height: 2em !important;
}

  
  /* .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  } */